@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Rubik', sans-serif;
}

body{
    background: whitesmoke;
}

.myclass{
    width:100%;
    height:auto;
}
@media screen and (max-width:500px){
    .myclass{
        columns:1!important;
    }
    
}

@media screen and (max-width:800px){
    .myclass{
        columns:3;
    }
    
}
